@charset "UTF-8";
/* CSS Document */


body {
	font-family: Helvetica Neue, Helvetica, nimbus-sans, Arial, "Lucida Grande", sans-serif;
	background-color: #313131;
	color: #FFF;
	background-image: url(../_images/challenge/challenge_bg.png);
	background-repeat: repeat-x;
	-webkit-text-size-adjust: none;
}
.typekit-badge {
	display:none !important;
}
a:link {
	text-decoration: underline;
	color: #0099CC;
}
a:visited {
	color: #0099CC;
}
a:hover {
	color: #0099CC;
}
a:active {
	color: #0099CC;
}
p {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
	line-height: 22px;
	font-weight: 200;
}
h1 {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 400;
}
h2 {
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 400;
}
h3 {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 400;
}
h4 {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
}
h5 {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
}
h6 {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
}
ul {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}
ol {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}
blockquote {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 500;
	letter-spacing: 1px;
}
hr {
	border: none;
	border-top: thin;
	border-top-color: #666;
	border-top-style: dotted;
}

#headerLogo {
	width: 50%;
	height: 40px;
	margin: 0px;
	padding: 0px;
}
#headerLogo img {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:0px;
	margin-right:5px;
	float:left;
}
#headerLogo p{
	margin-top: 7px;
	margin-left:0px;
	font-size:20px;
	font-weight:200;
}
#headerChallengeTitle {
	float: left;
	display: block;
	height: 30px;
	margin: 0px;
	padding: 0px;
}
#headerChallengeTitle h1{
	font-size: 20px;
	font-weight: 200;
	margin: 0;
	padding: 0;
}
#headerBackButton-CC {
	position: relative;
	float: right;
	display: block;
	width: 160px;
	height: 26px;
	margin-top: 48px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: 0px;
	background-image: url(../_images/challenge/backtoproject-CC.png);
	overflow: hidden;
	text-align: right;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0;
	padding-top: 5px;
}
#headerBackButton-CC a {
	font-size: 12px;
	color: #FFFFFF;
	margin-right: 10px;
}
#headerBackButton-CC:hover {
	background-image: url(../_images/challenge/backtoproject-hover-CC.png);
	background-repeat: no-repeat;
}
#headerBackButton {
	position: relative;
	float: right;
	display: block;
	width: 160px;
	height: 26px;
	margin-top: 48px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: 0px;
	background-image: url(../_images/challenge/backtoproject.png);
	overflow: hidden;
	text-align: right;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0;
	padding-top: 5px;
}
#headerBackButton a {
	font-size: 12px;
	color: #FFFFFF;
	margin-right: 10px;
}
#headerBackButton:hover {
	background-image: url(../_images/challenge/backtoproject-hover.png);
	background-repeat: no-repeat;
}
#NavShadowDiv {
	position: relative;
	display: block;
	width: 100%;
	border-top-color: #595959;
	border-top-style: solid;
	border-top-width: 1px;
	z-index: -1;
	height: 94px;
	top: -120px;
	background: #181818;
	/* Firefox v3.5+ */
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#3d000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#3d000000,Positive=true);

}
#NavRibbonDiv {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}


/* LOADER STYLES */
#ContentScreensLoader
{
	width:100%;
	position: relative;
	top: 0px;
	display:block;
}

#floatingCirclesG
{
	margin:300px auto 0;
}

#floatingCirclesG{
position:relative;
width:64px;
height:64px;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-o-transform:scale(0.6);
-ms-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#808080;
height:12px;
width:12px;
-moz-border-radius:6px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:0.72s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:6px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:0.72s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-o-border-radius:6px;
-o-animation-name:f_fadeG;
-o-animation-duration:0.72s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-border-radius:6px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:0.72s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
border-radius:6px;
animation-name:f_fadeG;
animation-duration:0.72s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:26px;
-moz-animation-delay:0.27s;
-webkit-animation-delay:0.27s;
-o-animation-delay:0.27s;
-ms-animation-delay:0.27s;
animation-delay:0.27s;
}

#frotateG_02{
left:8px;
top:8px;
-moz-animation-delay:0.36s;
-webkit-animation-delay:0.36s;
-o-animation-delay:0.36s;
-ms-animation-delay:0.36s;
animation-delay:0.36s;
}

#frotateG_03{
left:26px;
top:0;
-moz-animation-delay:0.45s;
-webkit-animation-delay:0.45s;
-o-animation-delay:0.45s;
-ms-animation-delay:0.45s;
animation-delay:0.45s;
}

#frotateG_04{
right:8px;
top:8px;
-moz-animation-delay:0.54s;
-webkit-animation-delay:0.54s;
-o-animation-delay:0.54s;
-ms-animation-delay:0.54s;
animation-delay:0.54s;
}

#frotateG_05{
right:0;
top:26px;
-moz-animation-delay:0.63s;
-webkit-animation-delay:0.63s;
-o-animation-delay:0.63s;
-ms-animation-delay:0.63s;
animation-delay:0.63s;
}

#frotateG_06{
right:8px;
bottom:8px;
-moz-animation-delay:0.72s;
-webkit-animation-delay:0.72s;
-o-animation-delay:0.72s;
-ms-animation-delay:0.72s;
animation-delay:0.72s;
}

#frotateG_07{
left:26px;
bottom:0;
-moz-animation-delay:0.81s;
-webkit-animation-delay:0.81s;
-o-animation-delay:0.81s;
-ms-animation-delay:0.81s;
animation-delay:0.81s;
}

#frotateG_08{
left:8px;
bottom:8px;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-o-animation-delay:0.9s;
-ms-animation-delay:0.9s;
animation-delay:0.9s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#808080}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#808080}

}

@-o-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#808080}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#808080}

}

@keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#808080}

}

</div>
