@charset "UTF-8";
/* CSS Document */


body {
	font-family: Helvetica Neue, Helvetica, nimbus-sans, Arial, "Lucida Grande", sans-serif;
	background-color: #313131;
	color: #FFF;
	background-image: url(../_images/challenge/challenge_bg.png);
	background-repeat: repeat-x;
	-webkit-text-size-adjust: none;
}
.typekit-badge {
	display:none !important;
}
a:link {
	text-decoration: underline;
	color: #0099CC;
}
a:visited {
	color: #0099CC;
}
a:hover {
	color: #0099CC;
}
a:active {
	color: #0099CC;
}
p {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
	line-height: 22px;
	font-weight: 200;
}
h1 {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 400;
}
h2 {
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 400;
}
h3 {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 400;
}
h4 {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
}
h5 {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
}
h6 {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
}
ul {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}
ol {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}
blockquote {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 500;
	letter-spacing: 1px;
}
hr {
	border: none;
	border-top: thin;
	border-top-color: #666;
	border-top-style: dotted;
}

#headerLogo {
	width: 50%;
	height: 40px;
	margin: 0px;
	padding: 0px;
}
#headerLogo img {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:0px;
	margin-right:5px;
	float:left;
}
#headerLogo p{
	margin-top: 7px;
	margin-left:0px;
	font-size:20px;
	font-weight:200;
}
#headerChallengeTitle {
	top: -20px;
	float:left;
	display:block;
	height: 30px;
	width: 400px;
	margin-left:0px;
}
#headerChallengeTitle h1{
	font-size: 20px;
	line-height: 0px;
	vertical-align:text-top;
	font-weight:200;
}
#headerBackButton {
	position: relative;
	float: right;
	display: block;
	width: 150px;
	height: 26px;
	margin-top: 48px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: 0px;
	background-image: url(../_images/challenge/backtoproject.png);
	overflow: hidden;
	text-align: right;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0;
	padding-top: 5px;
}
#headerBackButton a {
	font-size: 12px;
	color: #FFFFFF;
	margin-right: 10px;
}
#headerBackButton:hover {
	background-image: url(../_images/challenge/backtoproject-hover.png);
	background-repeat: no-repeat;
}
#NavShadowDiv {
	position: relative;
	display: block;
	width: 100%;
	border-top-color: #595959;
	border-top-style: solid;
	border-top-width: 1px;
	z-index: -1;
	height: 76px;
	top: -120px;
	/* Firefox v3.5+ */
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#3d000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#3d000000,Positive=true);

}
#NavRibbonDiv {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
