/* new gf styles */
body.lesson-body { opacity: 0; -webkit-transition: opacity 1.0s 0 ease-in-out; transition: opacity 1.0s 0 ease-in-out; -moz-transition: opacity 1.0s 0 ease-in-out; overflow: hidden; position: relative; }
body.lesson-body.fading-in { opacity: 1; overflow: auto; }
	.container { width: 100%; /*max-width: 940px; */}
	.main-container { overflow: hidden; -ms-user-select: none; -ms-touch-action: none; }  
	.main-container, .no-touch .pag { -webkit-transition: opacity 1.0s 0 ease-in-out; transition: opacity 1.0s 0 ease-in-out; -moz-transition: opacity 1.0s 0 ease-in-out; }
	.be-invisible .main-container, .be-invisible .pag { opacity: 0; }
	.its-visible .main-container, .its-visible .pag { opacity: 1; }
		.headerr { /*color: #fff;*/ }
			.headerr img { float: left; padding-left:20px; padding-right: 10px; }
		.pages { display: -webkit-box; -webkit-box-orient: horizontal; display: box; box-orient: horizontal; display: -moz-box; -moz-box-orient: horizontal; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
		.pages:not(.dragging) { -webkit-transition: -webkit-transform .3s ease-out; -moz-transition: -moz-transform .3s ease-out; transition: transform .3s ease-out; }
			.pages > div { }
		.pagination { margin: 0; }
			.pagination ul { position: absolute; bottom: 20px; left: 50%; margin-left: -75px; }
				.touch .pag { opacity: 0; }
				.touch .pag.showing { opacity: 1; }
				.popover { top: -420px; margin-left: -205px; opacity: 0; left: -9999px; display: block; }
				.popover.show { top: -420px; left: 50%; opacity: 1; }
	
				.popover-content .ribbon { width: 100%; box-sizing: border-box; overflow: auto; -webkit-overflow-scrolling: touch; }
					.popover-content .ribbon .ribbon-item { width: 100%; box-sizing: border-box; height: 100px; }
					.touch .pagination ul > li > a:hover { background-color: rgba(102,102,102,0.8); }
					
		.loaderr { position: absolute; background: url(../_images/ajax-loader-2.gif) no-repeat; top: 300px; left: 50%; margin-left: -50px; width: 100px; height: 100px; display: none; }
		.be-invisible .loaderr { display: block; }