@charset "UTF-8";
/* CSS Document */


body {
	font-family: Helvetica Neue, Helvetica, nimbus-sans, Arial, "Lucida Grande", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}
.typekit-badge {
	display:none !important;
}
#ribbonContainer {
	height: 120px;
	margin:0;
	padding:0;
	border:0;
}
#leftButton {
	width: 60px;
	float: left;
	height: 80px;
	margin: 0;
	padding: 0;
	border: 0;
	background-image: url(../_images/challenge/leftarrow.png);
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
}
#leftButton:hover {
	background-image: url(../_images/challenge/leftarrow-hover.png);
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
}
#ribbonStrip {
	height: 120px;
	margin: 0;
	padding: 0;
	border: 0;
	overflow:hidden;
}

.touch #ribbonStrip {
	height: 140px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#ribbonButtons {
	position:relative;
	margin:0;
	padding:0;
	border:0;
	width: 2200px;
	height: 100px;
	overflow:hidden;
}

.ribbonBlock {
	float:left;
	min-width: 200px;
	height: 100px;
	position: relative;
}

.ribbonBlock h2 {
	margin:0;
	padding-left:10px;
	border:0;
	font-size:14px;
	color:#FFF;
	font-weight:300;
}

#ribbonPip {
	margin:0;
	padding:0;
	border:0;
	width: 100%;
	height: 20px;
	text-align:center;
}
#ribbonPip img {
	margin:0;
	padding-left:2px;
	padding-right:2px;
	border:0;
	height: 9px;
	width: 9px;
}
#rightButton {
	width: 60px;
	left: -60px;
	float: right;
	height: 80px;
	margin:0;
	padding:0;
	border:0;
	background-image: url(../_images/challenge/rightarrow.png);
	overflow:hidden;
	background-size: contain;
	background-repeat: no-repeat;
}
#rightButton:hover {
	background-image: url(../_images/challenge/rightarrow-hover.png);
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
}

.touch #leftButton, .touch #rightButton {display:none;} 

.ribbonSelector {display:none;}
.current .ribbonSelector {display:block;}

/* STANDARDISED RIBBON STYLES */
#ribbonButtons .ribbonBlock, #ribbonButtons .ribbonBlock .singleRibbonBlock {min-width:170px;width:auto;display:block;positive:relative;-webkit-touch-callout: none;-webkit-user-select: none;user-select:none;position:relative;}
#ribbonButtons .ribbonBlock h2 {float:left;display:block;position:relative;padding-right:15px;}

.ribbonBlock {
	float:left;
	min-width: 200px;
	height: 100px;
	position: relative;
}

#ribbonBlock h2 {
	margin:0;
	padding-left:10px;
	border:0;
	font-size:14px;
	color:#FFF;
	font-weight:300;
}

.ribbonHeader {
	width: 100%;
	height: 22px;
	line-height: 22px;
	background: #F7AA1A;
	border-top: 1px solid #F7AA1A;
	border-right: 1px solid #323232;
	border-bottom: 1px solid #323232;
	border-left: 1px solid #323232;
}
.singleRibbonBlock {
	float: left;
	min-width: 200px;
	padding-right:1px;
}

.ribbonBottomCurrent {
	width: 100%;
	height: 54px;
	line-height: 54px;
	left: -1px;
	background: #F7AA1A;
	border-top-color: 1px solid #FEA016;
	border-right-color: 1px solid #323232;
	border-left-color: 1px solid #323232;
	color: #FDCEA7;
}
.ribbonBottom {
	width: 100%;
	height: 54px;
	line-height: 54px;
	left:-1px;
	background: #181818;
	color: #F7AA1A;
	border-right:1px solid #323232;
	border-left:1px solid #323232;
	border-top:1px solid #181818;
	border-bottom:0 none;
}

.current .ribbonBottom p, .no-touch .ribbonBottom:hover p {
	color: #FFF;
}

.current .ribbonBottom, .no-touch .current .ribbonBottom:hover {
	border-top:1px solid #00A3C4;
}

.ribbonOpeningNumber {
	float: left;
	display: block;
	font-size: 32px;
	margin-left: 5px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 300;
	line-height: 54px;
}
.ribbonSelector {
	width: 100%;
	height: 10px;
	background-image: url(../_images/challenge/selected-challenge-CC.png);
	background-repeat: no-repeat;
	background-position:center;
	margin-bottom: 10px;
}

/* CUSTOM RIBBON STYLES */
/* Challenge */
#ribbonChallenge_CC_Opening .ribbonHeader {
	background: #00809A;
	border-top-color: #009EBE;
}

#ribbonChallenge_CC_Opening .ribbonBottom {
	color: #009EBE;
}

#ribbonChallenge_CC_Opening .current .ribbonBottom, .no-touch #ribbonChallenge_CC_Opening .current .ribbonBottom:hover {
	background: #00809A;
	border-top:1px solid #00A3C4;
	border-left:1px solid #323232;
}

.no-touch #ribbonChallenge_CC_Opening .ribbonBottom:hover {
	background: #008DAA;
	border-top: 1px solid #00A3C4;
}

#ribbonChallenge_CC_Opening .ribbonSelector {
	background: url(../_images/challenge/selected-challenge.png) no-repeat center;
}
/* Start */
#ribbonStart_CC_Writing .ribbonHeader {
	background: #007996;
	border-top-color: #0095B7;
}

#ribbonStart_CC_Writing .ribbonBottom {
	color: #0095B7;
}

#ribbonStart_CC_Writing .current .ribbonBottom, .no-touch #ribbonStart_CC_Writing .current .ribbonBottom:hover {
	background: #007996;
	border-top:1px solid #00A3C4;

}

.no-touch #ribbonStart_CC_Writing .ribbonBottom:hover {
	background: #0086A7;
	border-top: 1px solid #009CC1;
}

#ribbonStart_CC_Writing .ribbonSelector {
	background: url(../_images/challenge/selected-start.png) no-repeat center;
}


/* Plan */
#ribbonPlan_CC_GroupWork .ribbonHeader {
	background: #007091;
	border-top-color: #008BAF;
}

#ribbonPlan_CC_GroupWork .ribbonBottom {
	color: #008BAF;
}

#ribbonPlan_CC_GroupWork .current .ribbonBottom, .no-touch #ribbonPlan_CC_GroupWork .current .ribbonBottom:hover {
	background: #007091;
	border-top:1px solid #008BAF;

}

.no-touch #ribbonPlan_CC_GroupWork .ribbonBottom:hover {
	background: #007EA3;
	border-top: 1px solid #0093BF;
}

#ribbonPlan_CC_GroupWork .ribbonSelector {
	background: url(../_images/challenge/selected-plan.png) no-repeat center;
}

/* Create */
#ribbonCreate_CC_CommonRead .ribbonHeader {
	background: #00688C;
	border-top-color: #007DAF;
}

#ribbonCreate_CC_CommonRead .ribbonBottom {
	color: #007DAF;
}

#ribbonCreate_CC_CommonRead .current .ribbonBottom, .no-touch #ribbonCreate_CC_CommonRead .current .ribbonBottom:hover {
	background: #00688C;
	border-top:1px solid #007DAF;

}

.no-touch #ribbonCreate_CC_CommonRead .ribbonBottom:hover {
	background: #00769F;
	border-top: 1px solid #008CBC;
}

#ribbonCreate_CC_CommonRead .ribbonSelector {
	background: url(../_images/challenge/selected-create.png) no-repeat center;
}

/* Revise */
#ribbonRevise_CC_Revise .ribbonHeader {
	background: #006087;
	border-top-color: #00779E;
}

#ribbonRevise_CC_Revise .ribbonBottom {
	color: #00779E;
}

#ribbonRevise_CC_Revise .current .ribbonBottom, .no-touch #ribbonRevise_CC_Revise .current .ribbonBottom:hover {
	background: #006087;
	border-top:1px solid #00779E;

}

.no-touch #ribbonRevise_CC_Revise .ribbonBottom:hover {
	background: #00709C;
	border-top: 1px solid #0084B9; 
}

#ribbonRevise_CC_Revise .ribbonSelector {
	background: url(../_images/challenge/selected-revise.png) no-repeat center;
}

/* Present */
#ribbonPresent_CC_Homework .ribbonHeader {
	background: #005983;
	border-top-color: #006D96;
}

#ribbonPresent_CC_Homework .ribbonBottom {
	color: #006D96;
}

#ribbonPresent_CC_Homework .current .ribbonBottom, .no-touch #ribbonPresent_CC_Homework .current .ribbonBottom:hover {
	background: #005983;
	border-top:1px solid #006D96;

}

.no-touch #ribbonPresent_CC_Homework .ribbonBottom:hover {
	background: #006898;
	border-top: 1px solid #007CB6;
}

#ribbonPresent_CC_Homework .ribbonSelector {
	background: url(../_images/challenge/selected-present.png) no-repeat center;
}