@charset "UTF-8";
/* CSS Document for Common Core ORANGE Ribbon*/

body {
	font-family: Helvetica Neue, Helvetica, nimbus-sans, Arial, "Lucida Grande", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}
.typekit-badge {
	display:none !important;
}

#ribbonStrip {
	height: 140px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/* Challenge */
#ribbonChallenge_CC_Opening .ribbonHeader, #ribbonChallenge_CC_Opening .current .ribbonBottom, #ribbonChallenge_CC_Opening .current .ribbonBottom:hover, #ribbonChallenge_CC_Opening .ribbonBottom:hover {
	background: #F7AA1A;
	border-top-color: #F7AA1A;
}

#ribbonChallenge_CC_Opening .ribbonBottom {
	color: #F7AA1A;
}
#ribbonChallenge_CC_Opening .ribbonSelector {
	background: url(../_images/challenge/selected-challenge-CC.png) no-repeat center;
}

/* Start */
#ribbonStart_CC_Writing .ribbonHeader, #ribbonStart_CC_Writing .current .ribbonBottom, #ribbonStart_CC_Writing .current .ribbonBottom:hover, #ribbonStart_CC_Writing .ribbonBottom:hover {
	background: #F9921F;
	border-top: 1px solid #F9921F;
}

#ribbonStart_CC_Writing .ribbonBottom {
	color: #F9921F;
}

#ribbonStart_CC_Writing .ribbonSelector {
	background: url(../_images/challenge/selected-start-CC.png) no-repeat center;
}

/* Plan */
#ribbonPlan_CC_GroupWork .ribbonHeader, #ribbonPlan_CC_GroupWork .current .ribbonBottom, #ribbonPlan_CC_GroupWork .current .ribbonBottom:hover, #ribbonPlan_CC_GroupWork .ribbonBottom:hover {
	background: #FA7A24;
	border-top-color: #FA7A24;
}

#ribbonPlan_CC_GroupWork .ribbonBottom {
	color: #FA7A24;
}

#ribbonPlan_CC_GroupWork .ribbonSelector {
	background: url(../_images/challenge/selected-plan-CC.png) no-repeat center;
}

/* Create */
#ribbonCreate_CC_CommonRead .ribbonHeader, #ribbonCreate_CC_CommonRead .current .ribbonBottom, #ribbonCreate_CC_CommonRead .current .ribbonBottom:hover, #ribbonCreate_CC_CommonRead .ribbonBottom:hover {
	background: #FC6329;
	border-top-color: #FC6329;
}

#ribbonCreate_CC_CommonRead .ribbonBottom {
	color: #FC6329;
}

#ribbonCreate_CC_CommonRead .ribbonSelector {
	background: url(../_images/challenge/selected-create-CC.png) no-repeat center;
}

/* Revise */
#ribbonRevise_CC_Revise .ribbonHeader, #ribbonRevise_CC_Revise .current .ribbonBottom, #ribbonRevise_CC_Revise .current .ribbonBottom:hover, #ribbonRevise_CC_Revise .ribbonBottom:hover {
	background: #F7AA1A;
	border-top-color: #F7AA1A;
}

#ribbonRevise_CC_Revise .ribbonBottom {
	color: #F7AA1A;
}

#ribbonRevise_CC_Revise .ribbonSelector {
	background: url(../_images/challenge/selected-revise-CC.png) no-repeat center;
}

/* Present */
#ribbonPresent_CC_Homework .ribbonHeader, #ribbonPresent_CC_Homework .current .ribbonBottom, #ribbonPresent_CC_Homework .current .ribbonBottom:hover, #ribbonPresent_CC_Homework .ribbonBottom:hover {
	background: #F9921F;
	border-top-color: #F9921F;
}

#ribbonPresent_CC_Homework .ribbonBottom {
	color: #F9921F;
}

#ribbonPresent_CC_Homework .ribbonSelector {
	background: url(../_images/challenge/selected-present-CC.png) no-repeat center;
}