@charset "UTF-8";
/* CSS Document for Common Core ORANGE Ribbon*/

.touch #ribbonStrip {
	height: 140px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
} 

#leftButton {
	background-image: url(../_images/challenge/leftarrow-CC.png);
}

#leftButton:hover {
	background-image: url(../_images/challenge/leftarrow-hover-CC.png);
}

#rightButton {
	background-image: url(../_images/challenge/rightarrow-CC.png);
}

#rightButton:hover {
	background-image: url(../_images/challenge/rightarrow-hover-CC.png);
}


/* Challenge */
.ribbonBlock-1 .ribbonHeader, .ribbonBlock-1 .current .ribbonBottom, .no-touch .ribbonBlock-1 .current .ribbonBottom:hover, .no-touch .ribbonBlock-1 .ribbonBottom:hover {
	background: #F7AA1A;
	border-top-color: #F7AA1A;
}

.ribbonBlock-1 .ribbonBottom {
	color: #F7AA1A;
}
.ribbonBlock-1 .ribbonSelector {
	background: url(../_images/challenge/selected-challenge-CC.png) no-repeat center;
}

.ribbonBlock-1 .pip {
	background-position: 0 -60px;
}

/* Start */
.ribbonBlock-2 .ribbonHeader, .ribbonBlock-2 .current .ribbonBottom, .no-touch .ribbonBlock-2 .current .ribbonBottom:hover, .no-touch .ribbonBlock-2 .ribbonBottom:hover {
	background: #F9921F;
	border-top: 1px solid #F9921F; 
}

.ribbonBlock-2 .ribbonBottom {
	color: #F9921F;
}

.ribbonBlock-2 .ribbonSelector {
	background: url(../_images/challenge/selected-start-CC.png) no-repeat center;
}

.ribbonBlock-2 .pip {
	background-position: 0 -75px;
}

/* Plan */
.ribbonBlock-3 .ribbonHeader, .ribbonBlock-3 .current .ribbonBottom, .no-touch .ribbonBlock-3 .current .ribbonBottom:hover, .no-touch .ribbonBlock-3 .ribbonBottom:hover {
	background: #FA7A24;
	border-top-color: #FA7A24;
}

.ribbonBlock-3 .ribbonBottom {
	color: #FA7A24;
}

.ribbonBlock-3 .ribbonSelector {
	background: url(../_images/challenge/selected-plan-CC.png) no-repeat center;
}

.ribbonBlock-3 .pip {
	background-position: 0 -90px;
}

/* Create */
.ribbonBlock-4 .ribbonHeader, .ribbonBlock-4 .current .ribbonBottom, .no-touch .ribbonBlock-4 .current .ribbonBottom:hover, .no-touch .ribbonBlock-4 .ribbonBottom:hover {
	background: #FC6329;
	border-top-color: #FC6329;
}

.ribbonBlock-4 .ribbonBottom {
	color: #FC6329;
}

.ribbonBlock-4 .ribbonSelector {
	background: url(../_images/challenge/selected-create-CC.png) no-repeat center;
}

.ribbonBlock-4 .pip {
	background-position: 0 -105px;
}