@charset "UTF-8";
/* CSS Document */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: 300;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  *zoom: 1;
}

caption {
	text-align:left;
	margin-bottom:10px;
	font-weight:600;
}

.width-narrow {
  width: 25%;
}
.width-auto {
  width: 100%;
}

.table tbody tr.noFocus td {
	background-color: #E6E6E6;
}
.unborderedTable th,
.unborderedTable  td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border: none;
}
#header {
	margin-bottom: 0px;
	background-color:#364395;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 44px;
}
#header a {
	color:#FFF;
	line-height: 44px;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
#header p {
	color: #FFF;
	line-height: 44px;
	margin: 0;
	padding: 0;
	text-align: right;
	float: right;
	display: block;
	clear: none;
	margin-right: 10px;
}
#header h1 {
	color: #FFF;
	line-height: 44px;
	font-size: 24px;
	font-weight: 200;
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 0px rgba(0, 0, 0, 0.065);
}

.navbar .nav {
  float: right;
}
.navbar .brand {
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 0 0 -5px;
}
.btn-right {
	float: right;
}
.accordion-heading {
  background-color:#E5E5E5;
}
.accordion-task {
	margin-left: 20px;
}
.accordion-step {
	margin-left: 40px;
}
#footer {
	margin-top: 100px;
	background-color: #364395;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 44px;
	display: block;
	bottom: 0px;
}
